{{> header}}
<section id="verify" class="section-container verify-page">
  {{#if token_verified}}
    <h2 hx-get="/admin" hx-trigger="load delay:1s" hx-target="body" hx-push-url="/admin">
      Your account has been verified. Redirecting to homepage...
    </h2>
  {{else}}
    <h2>
      {{> icons/x}}
      Invalid verification. Please try again.
    </h2>
    <a href="/admin/login" title="Log in or sign up">Log in / sign up →</a>
  {{/if}}
</section>
{{> footer}}