{{> header}}
<section id="verify-change-email" class="section-container verify-page">
  {{#if token_verified}}
    <h2 hx-get="/admin" hx-trigger="load delay:1s" hx-target="body" hx-push-url="/admin">
      Email address is verified. Redirecting to homepage...
    </h2>
  {{else}}
    <h2>
      {{> icons/x}}
      Couldn't verify the email address. Please try again.
    </h2>
    {{#if user}}
      <a href="/admin/settings" title="Settings">Settings →</a>
    {{else}}
      <a href="/admin/login" title="Log in or sign up">Log in / sign up →</a>
    {{/if}}
  {{/if}}
</section>
{{> footer}}