<header>
  <div class="logo-wrapper">
    <a class="logo nav" href="/admin" title="Homepage">
      <img src="/images/dollarpe.png" alt="dollarpe" style="height:32px;width:auto;" />
    </a>
    <ul class="logo-links">
      {{#if report_email}}
        <li>
          <a class="nav" href="/admin/report" title="Report abuse">
            Report
          </a>
        </li>
      {{/if}}
    </ul>
  </div>
  <nav>
    <ul>
      {{#unless user}}
        {{#unless login_disabled}}
          <li>
            <a class="button primary" href="/admin/login" title="Log in">
              Log in
            </a>
          </li>
        {{/unless}}
      {{/unless}}
      {{#if user}}
        <li>
          <a class="button primary" href="/admin/settings" title="Settings">
            <span>{{> icons/cog}}</span>
            Settings
          </a>
        </li>
        {{#if isAdmin}}
          <li>
            <a class="button secondary" href="/admin/manage" title="Admin">
              <span>{{> icons/shield}}</span>
              Admin
            </a>
          </li>
        {{/if}}
        <li>
          <a class="nav" href="/admin/logout" title="Log out">
            Log out
          </a>
        </li>
      {{/if}}
    </ul>
  </nav>
</header>
